{:updated-at #inst "2025-12-06T02:21:45.108807137Z",
 :image-prompt
 "A graceful High Elf basketball player soaring through the air in a stone arena, pointed ears visible, elegant yet deadly, about to slam a spiked ball through a bone-rimmed hoop",
 :slug "gorkael-the-airborne",
 :speed 5,
 :name "Gork'ael the Airborne",
 :card-type :card-type/PLAYER_CARD,
 :sht 5,
 :set-slug "demo-set",
 :abilities ["Blood Fury" "Shadow Step"],
 :size :size/MD,
 :def 4,
 :deck-size 6,
 :pss 3,
 :created-at #inst "2025-11-30T19:21:58Z"}
