{:slug "snikkrit-quickfoot"
 :name "Snikkrit Quickfoot"
 :set-slug "demo-set"
 :card-type :card-type/PLAYER_CARD
 :deck-size 7
 :sht 4
 :pss 5
 :def 1
 :speed 4
 :size :size/SM
 :abilities ["Sneaky Git" "Quick Pass"]
 :image-prompt "A tiny hunched Goblin with shifty eyes dribbling a spiked ball between the legs of much larger players, wearing tattered sports gear, looking for an opening to pass"}
