{:updated-at #inst "2025-11-28T18:53:50.541366Z", :image-prompt "One player sneaks up behind a player on the opposite reaching out to pants them", :slug "trick-play", :coaching "Move one player 3x their current SPD", :name "Trick Play", :card-type :card-type/COACHING_CARD, :set-slug "demo-set", :fate 3, :created-at #inst "2025-11-28T18:48:34.711989Z"}