{:updated-at #inst "2025-12-13T19:24:16.933856Z",
 :image-prompt
 "A nimble human guard with quick feet, mid-drive around a screen, eyes locked on the basket with killer instinct",
 :slug "brennan-quickstep",
 :speed 6,
 :name "Brennan Quickstep",
 :card-type :card-type/PLAYER_CARD,
 :sht 6,
 :set-slug "premiere",
 :abilities [{:ability/id "killer-instinct"
             :ability/name "Killer Instinct"
             :ability/description "+1 SHT when shooting off a Screen."
             :ability/trigger {:trigger/event :bashketball/shoot.before
                               :trigger/condition [:and
                                                   [:= :event/shooter-id :self/id]
                                                   [:bashketball/shooting-off-screen? :doc/state :self/id]]}
             :ability/effect {:effect/type :bashketball/add-modifier
                              :modifier/stat :sht
                              :modifier/value 1
                              :modifier/duration :until-resolved}}],
 :size :size/MD,
 :card-subtypes [:card-subtype/UNIQUE],
 :def 2,
 :deck-size 7,
 :player-subtypes [:player-subtype/HUMAN],
 :pss 4,
 :created-at #inst "2025-12-13T19:22:08Z"}
