{:slug "defensive-scheme"
 :name "Defensive Scheme"
 :set-slug "premiere"
 :card-type :card-type/TEAM_ASSET_CARD
 :fate 5
 :asset-power "Passive: Your SM players' ZoC affects Shots as if same size."
 :image-prompt "A coach points at a tactical board covered in red X marks and defensive rotations"}
