{:slug "dish-and-relocate"
 :name "Dish and Relocate"
 :set-slug "premiere"
 :card-type :card-type/PLAY_CARD
 :fate 4
 :play "Ball carrier attempts Pass. If successful, the passer may move up to 3⬡. Does not cause ↷."
 :image-prompt "A goblin flicks a no-look pass while already sprinting to a new position, defender left grasping at air"}
