{:updated-at #inst "2025-12-13T19:12:35.016022Z",
 :image-prompt "A dwarf coach shouts at her team. ",
 :slug "find-your-man",
 :coaching "Move a player 3⬡ do not ↷.",
 :name "Find your Man(?)",
 :card-type :card-type/COACHING_CARD,
 :set-slug "premiere",
 :fate 7,
 :created-at #inst "2025-12-13T19:12:35.016022Z"}
