{:updated-at #inst "2025-12-13T18:57:41.977360Z",
 :image-prompt
 "One half a giant Elf flattens a dwarfs on a screen. Other half a long limbed Orc takes a defensive position",
 :slug "hard-screen-reach",
 :offense "Move a player 3⬡ ↷. If adjacent to an opponent Attempt Defend. ✓ Opponent ↷ skips next unexhaust. ✓+2 Attempt Injure.",
 :name "Hard Screen / Reach",
 :card-type :card-type/SPLIT_PLAY_CARD,
 :set-slug "premiere",
 :fate 3,
 :defense "Until the end of your next turn, player's ZoC is 2⬡.",
 :created-at #inst "2025-12-13T18:57:41.977360Z"}
