{:slug "screen-game"
 :name "Screen Game"
 :set-slug "premiere"
 :card-type :card-type/TEAM_ASSET_CARD
 :fate 5
 :asset-power "Passive: Your players get +1 DEF when attempting to Screen."
 :image-prompt "An orc sets a pick so wide that three defenders are frozen in place, unable to help"}
