{:name "Second Wind",
 :fate 7,
 :play {:play/id "second-wind"
       :play/description "Unexhaust target player."
       :play/targets [:target/player-id]
       :play/effect {:effect/type :bashketball/refresh-player
                     :refresh/player-id :target/player-id}},
 :set-slug "premiere",
 :slug "second-wind",
 :card-type :card-type/PLAY_CARD,
 :created-at #inst "2025-12-13T19:16:14.718347Z",
 :updated-at #inst "2025-12-13T19:16:14.718347Z"}
