{:updated-at #inst "2025-12-13T19:24:37.629242Z",
 :image-prompt
 "A scrawny goblin speedster darting across the court, all nervous energy and twitchy movement, looking for any opening",
 :slug "skritt",
 :speed 7,
 :name "Skritt",
 :card-type :card-type/PLAYER_CARD,
 :sht 2,
 :set-slug "premiere",
 :abilities [],
 :size :size/SM,
 :card-subtypes [:card-subtype/UNIQUE],
 :def 2,
 :deck-size 4,
 :player-subtypes [:player-subtype/GOBLIN],
 :pss 4,
 :created-at #inst "2025-12-13T19:22:08Z"}
