{:slug "tika-shadowdart"
 :name "Tika Shadowdart"
 :set-slug "premiere"
 :card-type :card-type/PLAYER_CARD
 :player-subtypes [:player-subtype/GOBLIN]
 :deck-size 5
 :sht 3
 :pss 5
 :def 1
 :speed 8
 :size :size/SM
 :abilities []
 :image-prompt "A lightning-fast goblin point guard threading passes through traffic, ball a blur in nimble green fingers, wicked grin on her face"}
