{:slug "drive-check"
 :name "Drive / Check"
 :set-slug "base"
 :card-type :card-type/STANDARD_ACTION_CARD
 :fate 4
 :offense "Ball carrier within 4⬡ of basket: Move up to half speed (ignore ZoC), attempt Shot, ↷."
 :defense "Engage opponent within 2⬡. Attempt Defend. ✓ Both ↷; opponent skips next unexhaust. ✗ You ↷. ✓+2 Attempt Injure."}
