{:slug "pass-steal"
 :name "Pass / Steal"
 :set-slug "base"
 :card-type :card-type/STANDARD_ACTION_CARD
 :fate 1
 :offense "Pass: Throw the ball to a teammate using PSS."
 :defense "Steal: Intercept a pass or strip the ball from an opponent using DEF."}
