{:slug "pass-steal"
 :name "Pass / Steal"
 :set-slug "base"
 :card-type :card-type/STANDARD_ACTION_CARD
 :fate 4
 :offense "Ball carrier attempts Pass to teammate within 6⬡, ↷."
 :defense "Engage ball carrier within 2⬡. Attempt Defend. SM vs MD/LG: +1. ✓ You take the ball. ✗ You ↷."}
