{:slug "shoot-block"
 :name "Shoot / Block"
 :set-slug "base"
 :card-type :card-type/STANDARD_ACTION_CARD
 :fate 4
 :offense "Ball carrier within 7⬡ of basket attempts Shot, ↷."
 :defense "Your player adjacent to opponent within 4⬡ of basket: Opponent must attempt Shot or ↷ and skip next unexhaust. You ↷."}
