{:slug "troll-center"
 :name "Troll Center"
 :set-slug "base"
 :card-type :card-type/PLAYER_CARD
 :deck-size 4
 :sht 1
 :pss 1
 :def 5
 :speed 1
 :size :size/LG
 :abilities []
 :image-prompt "An enormous regenerating troll dominating the paint, hunched under the rim, arms like tree trunks"}
